<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
<meta name="description" content="" />
<link rel="shortcut icon" href="https://hackathon.comssa.org.au/files/aa4dce44253311d487e3bfe9304a7d35/android-chrome-512x512.png" type="image/x-icon" />
<meta name="author" content="Sean, ComSSA" />
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<title><%= title %> | Hackathon Submission</title>
